/* Schriftart */
@font-face {
    font-family: "Playfair_Display";
    font-style: normal;
    src: url(../Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
/*Schriftart Ende */

body {
    font-family: "Playfair_Display";
}

/* Header */
header, section {
    overflow: hidden;
}
header {
    position: relative;
    background: #1A5276;
}
header nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
nav {
    width: 100%;
    text-align: right;
    margin-top: 10px;
}
.brand-wrapper a.brand {
    color: rgb(220, 20, 60);
    font-size: 30px;
    text-decoration: none;
}
.brand-wrapper a.brand:hover {
    color: white;
}
.navigation-list a{
    padding-left: 10px;
    color: #ECECEC;
    text-decoration: none;
}
.navigation-list a:hover{
    color: rgb(220, 20, 60);
}

header ul li a:hover {
    color: rgb(220, 20, 60);
    text-decoration: underline;
}
header .firstButton{
    color: #F0F2F5;
    padding-top: 30vh;
    text-align: center;
    padding-bottom: 4vh;
}
header .firstButton p{
    font-size: 30px;
}
header .firstButton .btn {
    background-color: rgb(220, 20, 60);
    height: 55px;
    width: 180px;
    border-radius: 0%;
    margin-top: 7vh;
    font-size: 15px;
    color: rgb(26, 26, 26);
    letter-spacing: 6px;
}
header .firstButton .btn:hover {
    background: transparent;
    box-shadow: 0 0 20px 5px rgb(220, 20, 60);
    color: rgb(220, 20, 60);
}

/* Header End */
/* Price */
.Price {
    padding-top: 4vh;
    text-align: center;
    padding-bottom: 30px;
    background: #F0F2F5;
}

.Price .current-price-value p{
    font-size: 50px;
    border: solid;
}
.Price .btn{
    background-color: rgb(220, 20, 60);
    height: 60px;
    width: 250px;
    border-radius: 0%;
    margin-top: 4vh;
    font-size: 18px;
    color: rgb(26, 26, 26);
    letter-spacing: 6px;
}
.Price .btn:hover {
    background: transparent;
    box-shadow: 0 0 20px 5px rgb(220, 20, 60);
    color: rgb(220, 20, 60);
}
/* Price End*/
/* Impressum */

.Impressum {
    background-color: black;
    color: #fff;
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.Impressum .fa-sparkles {
    font-size: 30px;
}
.Impressum h6 {
    padding-top: 25px;
}

.Impressum .fa-sharp {
    border: 2px solid #fff;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 7px;
}
.Impressum ul {
    list-style-type: none;
}
.Impressum li a {
    color: #fff;
    text-decoration: none;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 20px;
}
.Impressum li b {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    padding-left: 20px;
}
.Impressum .Impressum-Email {
    text-align: center;
    text-decoration: none;
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 37px;
    background-color: rgb(220, 20, 60);
    border-radius: 25px;
    color: #000;
}
.Impressum a {
    text-decoration: none;
}
.Impressum .fa-facebook,
.fa-google-plus {
    font-size: 40px;
    margin: 4px;
}
.Impressum .fa-twitter {
    font-size: 36px;
    background-color: white;
    color: black;
    border-radius: 50%;
    border: 4px solid #fff;
}
.Impressum .fa-basketball {
    font-size: 36px;
    background-color: white;
    color: black;
    border-radius: 50%;
    border: 4px solid #fff;
}

/* Impressum End */